[submodule "blits"]
	path = blits
	url = ssh://git@github.com/blits.git
[submodule "components"]
	path = components
	url = ssh://git@github.com/components.git
[submodule "focus"]
	path = focus
	url = ssh://git@github.com/focus.git
